@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('../background/cool1.png');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100% 100%;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    top: 20px;
}
#p1 > ion-icon{
    color: red;
}
#p2 > ion-icon{
    color: lightskyblue;
}
ion-checkbox {
    --size: 24px;
    --checkbox-background-checked: crimson;
  }

  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid cornsilk;
}

.default{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-around;  
}

.default label input{
    margin-right: 3px;
    
}
.default label a{
    color: #fff;
    text-decoration: none;
}
.default label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.help{
    font-size: .9em;
    color: lightgreen;
    text-align: center;
    margin: 25px 0 10px;
}
.help p a{
    text-decoration: none;
    color: bisque;
    font-weight: 550;
}
.help p a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

button:hover{
    color: #fff;
    background-color: black;
}